h1 {
    font-family: Verdana, sans-serif; 
    font-size: 40px;
    margin: 20px 20px 0px 20px;
}

.bayan-container {
    margin: 20px 220px;
    display: flex;
    flex-direction: column;

}

.bayan-rod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.bayan-container .bayan-body {
    margin: 0 auto;
    height: 0;
    background-color: #ffffff;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
}

.bayan-container .bayan-body p {
    margin: 0 0 10px;
}

.bayan-container label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
    border-bottom: 2px solid #e0e0e0;

}
/* .bayan-container label:hover {
    color: #b3b3b3;
} */
.bayan-container input{
    display: none;
}

.bayan-container input:checked + label {
    color: #000000;
}

.bayan-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.bayan-container input:checked + label + .bayan-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.bayan-rod:hover label {
    color: #b3b3b3;
}

.bayan-rod label .fa-solid, .fa-plus  {
    opacity: 0;
    
}

.bayan-rod:hover label .fa-solid, .fa-plus  {
    opacity: 1;
}


